<div class="container">
    <div class="text-center mt-3">
        <h1>掲示板</h1>
        <%= link_to("新規投稿する", new_post_path, class: "btn btn-primary") %>
    </div>

    <% @posts.each do |post| %>
        <div class="posts-list mt-3 mb-3">
            <h3 class="m-3"><%= link_to(post.title, post_path(post), class: "link") %></h3>
            <p class="ms-3 me-3"><%= post.content %></p>
                

            <% user = User.find_by(id: post.user_id) %>
                <div>
                    <p class="text-end me-3"><%= user.name %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>